@import "../../scss/colors";

@mixin footerSection {
  width: 80vw;
  border-top: 1px solid $primary-color;
  margin-top: 15px;
}

.container {
  width: 100vw;
  min-height: 100vh;
  color: white;
  background-color: $secondary-color;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
    font-size: 24px;
    margin: 2px;
    padding: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
  }
}

.logo {
  @include footerSection();
  height: 10vh;
  background: url(../../svg/turbocarswhite.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-top: none;
  align-self: center;
  order: 1;
}

.menu {
  @include footerSection();
  order: 4;
}

.contact {
  @include footerSection();
  order: 5;
}

.poliecies {
  @include footerSection();
  order: 6;
}

.social {
  @include footerSection();
  order: 2;
}

.newsletter {
  @include footerSection();
  order: 3;
}

.form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 20px 0 20px 0;

  input {
    text-align: center;
    outline: none;
    width: 50vw;
    height: auto;
    font-size: 18px;
  }

  button {
    width: 40vw;
    height: auto;
    font-size: 18px;
  }
}

.devSign {
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $primary-color;
  text-align: center;
  background-color: $secondary-color;

  h1 {
    font-size: 18px;
  }
}

@media (min-width: 1400px) {
  .container {
    padding-top: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 3;
    min-height: auto;
    column-gap: 100px;
    row-gap: 40px;

    div {
      width: 25vw;
    }
  }
}
