.navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 140px;
  display: none;
}

.logo {
  float: left;
  width: 60vw;
  height: 100px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
}

.image {
  height: 120px;
  width: auto;
}

.nmenu {
  float: left;
  width: 40vw;
  height: 100px;
}

.list {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 24px;
  margin-top: 20px;
}

.list a {
  text-decoration: none;
  color: white;
}

@media (min-width: 1400px) {
  .navbar {
    display: block;
  }
}
